<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>VOLUNTEER HOME</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="student home page">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="logo.png"> 
    
    <!-- FontAwesome JS-->
    <script defer src="{{ url_for('static', filename = 'assets/plugins/fontawesome/js/all.min.js') }}"></script>
    
    <!-- App CSS -->  
	<link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='assets/css/portal.css') }}">

    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet"/>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        function TimePickerCtrl($) {
            var startTime = $('#starttime').datetimepicker({
              format: 'HH:mm'
            });
            
            var endTime = $('#endtime').datetimepicker({
              format: 'HH:mm',
              minDate: startTime.data("DateTimePicker").date()
            });
            
            function setMinDate() {
              return endTime
                .data("DateTimePicker").minDate(
                  startTime.data("DateTimePicker").date()
                )
              ;
            }
            
            var bound = false;
            function bindMinEndTimeToStartTime() {
            
              return bound || startTime.on('dp.change', setMinDate);
            }
            
            endTime.on('dp.change', () => {
              bindMinEndTimeToStartTime();
              bound = true;
              setMinDate();
            });
          }
          
          $(document).ready(TimePickerCtrl);
    </script>
    <style type="text/css">
        body{
    margin-top:20px;
    background:#eee;
    color: #708090;
}
.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none;    
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}

            .container{
                margin-top:50px;
                border:3px solid black;
                padding-top: 50px; 
                padding-bottom: 50px; 
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 1000px;
            }
            .container:hover {
                box-shadow: 0 16px 16px 0 gray;
                }
                .btn-group button {
                    background-color: #04AA6D; /* Green background */
                    border: 1px solid green; /* Green border */
                    color: white; /* White text */
                    padding: 10px 24px; /* Some padding */
                    width:200px;
                    margin-left:370px;
                    font-size: 16px;
                    cursor: pointer; /* Pointer/hand icon */
                   
                    }

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
   
    </style>
</head> 

<body class="app">   	
  <header class="app-header fixed-top">	   	            
    <div class="app-header-inner">  
      <div class="container-fluid py-2">
        <div class="app-header-content"> 
            <div class="row justify-content-between align-items-center">
          
        <div class="col-auto">
          <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
          </a>
        </div><!--//col-->
            <div class="search-mobile-trigger d-sm-none col">
              <i class="search-mobile-trigger-icon fas fa-search"></i>
          </div><!--//col-->
            <div class="app-search-box col">
                <form class="app-search-form">   
          <input type="text" placeholder="Search..." name="search" class="form-control search-input">
          <button type="submit" class="btn search-btn btn-primary" value="Search"><i class="fas fa-search"></i></button> 
            </form>
            </div><!--//app-search-box-->
            
            <div class="app-utilities col-auto">
              <div class="app-utility-item app-user-dropdown dropdown">
                <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="{{ url_for('static', filename='img/team/team1.png' ) }}" alt="user profile"></a>
                <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
            <li><a class="dropdown-item" href="{{url_for('volunteer_profile')}}">Account</a></li>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Log Out</a></li>
          </ul>
              </div><!--//app-user-dropdown--> 
            </div><!--//app-utilities-->
        </div><!--//row-->
          </div><!--//app-header-content-->
      </div><!--//container-fluid-->
    </div><!--//app-header-inner-->
    <div id="app-sidepanel" class="app-sidepanel"> 
      <div id="sidepanel-drop" class="sidepanel-drop"></div>
      <div class="sidepanel-inner d-flex flex-column">
        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
        <div class="app-branding">
            <a class="app-logo" href="#"><img class="logo-icon me-2" src="{{ url_for('static', filename = 'img/logo/logo.png') }}" alt="logo"><span class="logo-text">EDUGIFT</span></a>

        </div><!--//app-branding-->  
        
      <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
        <ul class="app-menu list-unstyled accordion" id="menu-accordion">
          <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{url_for('volunteer_home')}}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
  <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
</svg>
                 </span>
                         <span class="nav-link-text">Overview</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->
          <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{url_for('volunteer_files')}}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
<path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
</svg>
                 </span>
                         <span class="nav-link-text">Docs</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->
          <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{url_for('volunteer_invoice')}}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
<circle cx="3.5" cy="5.5" r=".5"/>
<circle cx="3.5" cy="8" r=".5"/>
<circle cx="3.5" cy="10.5" r=".5"/>
</svg>
                 </span>
                         <span class="nav-link-text">Invoices</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->
          <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{ url_for('volunteer_profile')}}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
<circle cx="3.5" cy="5.5" r=".5"/>
<circle cx="3.5" cy="8" r=".5"/>
<circle cx="3.5" cy="10.5" r=".5"/>
</svg>
                 </span>
                         <span class="nav-link-text">My Profile</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->

        <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{ url_for('volunteer_video')}}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-video" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
<circle cx="3.5" cy="5.5" r=".5"/>
<circle cx="3.5" cy="8" r=".5"/>
<circle cx="3.5" cy="10.5" r=".5"/>
</svg>
                 </span>
                         <span class="nav-link-text">UPLOAD VIDEO TO EDUGIFT PORTAL</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->

        <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{ url_for('volunteer_doubts')}}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
<circle cx="3.5" cy="5.5" r=".5"/>
<circle cx="3.5" cy="8" r=".5"/>
<circle cx="3.5" cy="10.5" r=".5"/>
</svg>
                 </span>
                         <span class="nav-link-text">VIEW STUDENT DOUBTS PLATFORM</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->

        <li class="nav-item">
              <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
              <a class="nav-link" href="{{ url_for('volunteer_session') }}">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
<circle cx="3.5" cy="5.5" r=".5"/>
<circle cx="3.5" cy="8" r=".5"/>
<circle cx="3.5" cy="10.5" r=".5"/>
</svg>
                 </span>
                         <span class="nav-link-text"></span>Launch a Session</span>
              </a><!--//nav-link-->
          </li><!--//nav-item-->

          <li class="nav-item">
            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
            <a class="nav-link active" href="#">
              <span class="nav-icon">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
<circle cx="3.5" cy="5.5" r=".5"/>
<circle cx="3.5" cy="8" r=".5"/>
<circle cx="3.5" cy="10.5" r=".5"/>
</svg>
               </span>
                       <span class="nav-link-text"></span>Schedule my Session</span>
            </a><!--//nav-link-->
        </li><!--//nav-item-->
        
          </ul><!--//footer-menu-->
        </nav>
      </div><!--//app-sidepanel-footer-->
       
      </div><!--//sidepanel-inner-->
  </div><!--//app-sidepanel-->
</header><!--//app-header-->
    
<div class="app-wrapper">
  

        <form method="POST" action="{{ url_for('volunteer_session_planner') }}">
          <h2>{{msg}}</h2>
          <div class="container" >
           
                  <div class="header-group" style="background-color: #3b5998; color:white; height:50px;margin-top:-70px; width:100%">
                      <h1 align="center" style="color: white;">Plan A Session</h1>
                  </div>
                  <hr/>
                  <div class="row">
                      <div class="col-xs-6">
                      <div class="form-group">
                          <label for="TOPIC_NAME" class="col-form-label">TOPIC NAME</label>
                          <div class='input-group date' id='topicname'>
                          <input type='text' style="width:850px" class="form-control" id="topic_name"  name="topic_name"/>
                          </div>
                      </div>
                      </div>
                      
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                    <div class="form-group">
                        <label for="TOPIC_NAME" class="col-form-label">SESSION DATE</label>
                        <div class='input-group date' id='session_date'>
                        <input type='date' style="width:850px" class="form-control" id="session_date"  name="session_date"/>
                        </div>
                    </div>
                    </div>
                    
                </div>
                
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                      <label for="end_time" class="col-form-label">Session Start Time</label>
                      <div class='input-group date' id='starttime'>
                          <input type='text' class="form-control" id="starttime" name="starttime" />
                          <span class="input-group-addon">
                              <i class="far fa-clock"></i>
                          </span>
                      </div>
                      </div>
                  </div>
                      
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                      <label for="end_time" class="col-form-label">Session End Time</label>
                      <div class='input-group date' id='endtime'>
                          <input type='text' class="form-control" id="endtime" name="endtime" />
                          <span class="input-group-addon">
                              <i class="far fa-clock"></i>
                          </span>
                         
                      </div>
                      </div>
                  </div>

                  </div>
          
                  <div class="row">
                      <div class="col-xs-6">
                        <div class="form-group">
                          <label for="TOPIC_NAME" class="col-form-label">MEETING ID (ZOOM/GMEET)</label>
                          <div class='input-group date' id='starttime'>
                            <input type='text' style="width:850px" class="form-control" id="meeting_id"  name="meeting_id"/>
                          </div>
                        </div>
                      </div>
                      
                  </div>
          
                  <div class="row">
                      <div class="col-xs-6">
                        <div class="form-group">
                          <label for="TOPIC_NAME" class="col-form-label">MEETING DESCRIPTION</label>
                          <div class='input-group date' id='starttime'>
                            <textarea style="border:1px solid gray;" placeholder="Enter Meeting Description." rows="4" cols="114" id = "meet_desc" name="meet_desc" >
          
          
                            </textarea>
                          </div>
                        </div>
                      </div>
                      
                  </div>
          
                  <div class="row">
                      <div class="col-xs-6">
                        <div class="form-group">
                          <div class='input-group' id='starttime'>
                              <div class="btn-group">
                                  <button align="center" type = "submit">Create my Session</button>
                                </div>
                           
                          </div>
                        </div>
                      </div>
                      
                  </div>
                  
                  
          </div>
          </form>

     
	    
	    <footer class="app-footer">
		    <div class="text-center py-3">
		         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">EDUGIFT TEAM</small>
		       
		    </div>
	    </footer><!--//app-footer-->
	    
   </div><!--//app-wrapper-->    					

 
    <!-- Javascript -->          
   
	<script src="{{ url_for('static', filename='assets/plugins/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/plugins/chart.js/chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/index-charts.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>


</body>
</html> 

